// colors
$white: #fff;
$black: #000;
$grey: #dcd9d9;

$analog-hour-thickness: 3%;
$analog-minute-thickness: 2%;
$analog-second-thickness: 1%;
$analog-hour-length: 30%;
$analog-minute-length: 35%;
$analog-second-length: 40%;
$pointer-offset: 6%;